/*a,
p {
background-color: blue;
color: white;
} */

/* a.ref-groups {
    backgroud-color: pink;
} */
 a {
    background-color: rgb(0, 195, 255);
    color: white;
}
  p {
   background-color: rgb(228, 99, 13);
  }

 /* a {
   background-color: yellow;
   color: white;
} */

 h2#heading-1 {
    background-color: rgb(55, 238, 10);
 }


