.m1{ margin: 2px;}
.m2{ margin: 4px;}
.m3{ margin: 6px;}
.m4{ margin: 12px;}

.p1{ padding: 2px;}
.p2{ padding: 4px;}
.p3{ padding: 6px;}
.p4{ padding: 12px;}

.f1{ font-weight: 100;}
.f2{ font-weight: 200;}
.f3{ font-weight: 400;}
.f4{ font-weight: 800;}

.c1{ color: black;}
.c2{ color: red;}
.c3{ color: blue;}
.c4{ color: yellow;}

.b1{ background-color: orange;}
.b2{ background-color: green;}
.b3{ background-color: brown;}
.b4{ background-color: pink;}

.h1{ height: 120px;}
.h2{ height: 150px;}
.h3{ height: 180px;}
.h4{ height: 250px;}

.w1{ width: 120px;}
.w2{ width: 150px;}
.w3{ width: 180px;}
.w4{ width: 250px;}