p {
    font-family: "huzaifa", Arial, Helvetica, sans-serif;
    /* font-size: 16px; */
    /* font-size: 50%; */
    /* font-size: 2em; */
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    /* text-transform: uppercase */
    /* text-transform: lowerace */
    /* text-transform: capitalize */
    line-height: 32px;
    word-spacing: 16px;
    letter-spacing: 8px;
    text-align: justify;
    text-indent: 12px;
    text-shadow: 2px 2px 2px green;

}
p:first-letter {
    /* color: red; */
    text-transform: uppercase;
}
.text:hover {
    color: blue;
    cursor: zoom-in;
    
}
